<div class="container">
<br>

  <div class="cards" style="width: 27rem;">
    <h2>Dogs available for walks</h2>

  <ol>
    <% @dogs.each do |dog| %>
      <li>
        <p><%= link_to dog.name, dog_path(dog), class: "btn btn-secondary" %></p>
        <p><%= dog.description %></p>
        <p><%= dog.location %></p>
         <% if dog.photo.attached? %>
          <%= cl_image_tag dog.photo.key, height: 200, width: 300, crop: :fill %>
            <% else %>
            <p>No Image Uploaded</p>
            <% end %>

      </li>
      <br>
    <% end %>
  </ol>
  </div>

 <%= link_to "Add a Dog", new_dog_path, class: "btn btn-secondary" %>
</div>
