<div class="container">
<br>
  <h1>Dogs available for walk</h1>
  <br>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Breakfast
</div>
  <ol>
    <% @dogs.each do |dog| %>
      <li>
        <p><%= link_to dog.name, dog_path(dog), class: "btn-outline-dark" %></p>
        <p><%= dog.description %></p>
        <p><%= dog.location %></p>
         <% if dog.photo.attached? %>
          <%= cl_image_tag dog.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
            <p>No Image Uploaded</p>
            <% end %>

      </li>
    <% end %>
  </ol>

 <%= link_to "Add a Dog", new_dog_path, class: "btn btn-secondary" %>
</div>
