<div class="container mt-5">
  <h1>Create a new Dog Profile</h1>

  <%= form_with(model: @dog, local: true) do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.label :description %>
    <%= form.text_field :description %>
    <%= form.label :location %>
    <%= form.text_field :location %>
    <%= form.label :photo %>
    <%= form.file_field :photo %>
    <%= form.submit "Create List" %>
  <% end %>
</div>
