<br>
<br>
<div class="container">
   <div class="cards" style="width: 27rem;">
  <h2 class="dog-heading">Create a page for your Pup</h2>
 <div class="card-product-create">

  <%= simple_form_for(@dog) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit%>
  <% end %>

  </div>
</div>
</div>
