
<div class="container mt-5">
  <h1> Find out all about <%= @dog.name %></h1>
  <h2><%= @dog.description %></h2>
  <p><%= @dog.location %></p>
   <% if @dog.photo.attached? %>
    <%= cl_image_tag @dog.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
    <p>No Image Uploaded</p>
  <% end %>
  <p> <%= @dog.booked %> </p>
   <%= link_to "Book this pup", new_dog_booking_path(@dog) %>
   <%= link_to "Back to all dogs", dogs_path %>
</div>

<%# <div data-controller="toggle" class="mt-5">
  <button class="btn btn-outline-primary">Book this pup</button>
  <%= render "form", booking: @booking %>
<%# </div> %>
