
<div class="container mt-5">
  <h1> Find out all about <%= @dog.name %></h1>
  <h2><%= @dog.description %></h2>
  <p><%= @dog.location %></p>
   <% if @dog.photo.attached? %>
    <%= cl_image_tag @dog.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
    <p>No Image Uploaded</p>
  <% end %>

   <%# <%= link_to "Book this pup", new_dog_booking_path %> 
   <%= link_to "Back to all dogs", dogs_path %>
</div>
