<br>
<br>
<div class="container">
  <h1 class="dog-heading"> Find out all about <strong style="color: green;"><%= @dog.name %></strong></h1>

<div id="carouselDogs" class="carousel slide">
  <div class="carousel-inner">
    <% @dog.photos.each_with_index do |photo, index| %>
     <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class:"d-block" %>
    </div>
    <% end %>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselDogs" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselDogs" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
      <div class="card-product">
       <h5 style="text-align: left; margin-left: 20px;">
      <%= @dog.description %>
      <br>
      <br>
    Lives in <%= @dog.location %></h5>
        <%# if @dog.photos.attached? %>
        <%#= cl_image_tag @dog.photos.first.key, height: 200, width: 300, crop: :fill%>
        <%# else %>
<!--        <p>No Image Uploaded</p>-->
        <%# end %>
      </div>
      <div >
      <div data-controller="toggle">
       <button class="btn btn-secondary mb-3" data-action= "click->toggle#display">Book this pup!</button>
       <div class="my-4 d-none" data-toggle-target="togleableElement">
        <%= simple_form_for [ @dog, @booking ], data: { controller: 'flatpickr' } do |b| %>
        <%= b.input :date, as: :string, input_html: { data: { flatpickr_target: "date" } } %>
        <%= b.input :comment %>
        <%= b.submit "Confirm Booking", class: "btn btn-secondary" %>
        <% end %>
        </div>
        </div>
        <br>
        
