<div class="container">
  <br>
  <br>
  <h1> Find out all about <strong style="color: green;"><%= @dog.name %></strong></h1>
  <br>
      <div class="card-dog">
      <h5>Description: <%= @dog.description %>
      <br>
      <br>
      Location:  <%= @dog.location %></h5>
        <% if @dog.photo.attached? %>
        <%= cl_image_tag @dog.photo.key, height: 200, width: 300, crop: :fill%>
        <% else %>
        <p>No Image Uploaded</p>
        <% end %>
          </div>
<br>

   <%= link_to "Book this pup", new_dog_booking_path(@dog), class: "btn btn-secondary" %>
   <%= link_to "Back to all dogs", dogs_path, class: "btn btn-secondary" %>
</div>
