<div class="container mt-5">


  <h2>Hi, <%= User.find_by(id: current_user).email %>
  Please see a list of your upcoming bookings: </h2>
  <ul>
    <% @booking.each do | booking | %>
    <div class="container mt-5">
      <li>
        <%# <% puts @booking %>
        <p><%= booking.date %></p>
        <p><%= Dog.find_by(id: booking.dog_id).name %></p>
        <p><%= booking.comment %></p>
        <%= link_to "Back to all Dogs", dogs_path %>
      </li>
    </div>
    <% end %>
  </ul>
</div>
